*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.side-menu{
    position: fixed;
    background: #868585;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    display: flex;
    line-height: 10vh;
    color: white;
    height: 10vh;padding-left: 40px;
}
.side-menu ul li{
    border-radius: 5px;
    background: #7c7879;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    display: flex;
    color: white;
    margin-bottom: 1px;
    align-items: center;
}
.side-menu ul li:hover{
    cursor: pointer;
    color: #525e5e;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    display: flex;

    align-items: center;
    transition: 0.5s;
}
/*********************************************************/

.container header{
    width: 80vw;
    position: absolute;
    right: 0;
    background: #868585;
    height: 10vh;
    line-height: 10vh;
    display: flex;
}
.container .search{
    display: flex;
    margin-left: 50px;
}
.container .search input{
    width: 300px;
    border: none;
    border-radius: 50px;
    height: 40px;
}
.container .search p{
    margin-left: 5px;
}
.container header .profile-pic{
    position: absolute;
    right: 0;
    margin-right: 5px;
    display: flex;
}
.container header .profile-pic div{
    width: 50px;
    margin: 5px;
    height: 8vh;
    border-radius: 50px;
    background: #6c6c6c;
}
.container .first-section {
    position: absolute;
    width: 80vw;
    height: 30vh;
    right: 0;
    display: flex;
    margin-top: 10vh;

}
.container .first-section p{
    padding: 5px 10px;
    color: white;
    border-bottom: 1px solid;
}
.container .first-section h1{
    padding: 5px 10px;
    color: white;
    font-family: "Cambria Math"
}

.container .first-section div{
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background: #868585;
    height: 20vh;
    margin-top: 30px;
}
.container .second-section{
    position: absolute;
    height: 60vh;
    width: 80vw;
    right: 0;
    margin-top: 40vh;
    display: flex;
}
.container .second-section div{
    width: 38vw;
    margin: 0 auto;
    height: 50vh;
    border-radius: 5px;
    background: #d9d9d9;
}

@media screen and (max-width: 640px){
    .side-menu .brand-name{
        font-size: 5px;
        padding-left: 2px;
        color: crimson;
    }
    .side-menu{
        width: 15vw;
    }
    .side-menu span{
        display: none;
    }
    .side-menu ul li{
        color: crimson;
        font-size: 12px;
        padding: 5px 10px;
        height: 50px;
    }
    .side-menu ul li:hover{
        color: crimson;
        background: #d9d9d9;
        font-size: 12px;
        padding: 5px 10px;
        height: 50px;
    }
    .container .search input{
        display: none;
    }
    .container header .profile-pic div{
        width: 40px;
        height: 40px;
        line-height: initial;
        background: crimson;
    }
    .container .first-section{
        display: initial;
    }
}
